In [16]:
import git
import os
import requests

import pandas as pd 
import numpy as np 
import pyarrow.parquet as pq
import dataviz as dv

In [6]:
#Download the Aggregate Data
repo_url = 'https://github.com/MoH-Malaysia/data-darah-public'
clone_dir = r'C:\Users\adli\Desktop\Work\Thevesh\Assignment\blood_donation\data_aggregate'
repo = git.Repo.clone_from(repo_url, clone_dir)

In [27]:
#Download the Granular Data
gran_url = 'https://dub.sh/ds-data-granular'
download_folder = r'C:\Users\adli\Desktop\Work\Thevesh\Assignment\blood_donation\data_granular'
filename = 'gran_data.parquet'
file_path = os.path.join(download_folder, filename)

In [19]:
response = requests.get(gran_url)

In [20]:
response.status_code #check the response status, if 200 then succeed

200

In [21]:
with open(file_path, 'wb') as file:
        file.write(response.content)

In [29]:
table = pq.read_table(file_path)
gran_df = table.to_pandas()

In [30]:
gran_df

        donor_id  visit_date  birth_date
0          00000  2013-11-03        1964
1          00000  2014-05-26        1964
2          00000  2015-01-25        1964
3          00000  2015-08-09        1964
4          00000  2016-03-10        1964
...          ...         ...         ...
6231779    01fCa  2024-01-14        1983
6231780    08JUV  2024-01-14        1976
6231781    00Rtd  2024-01-14        1989
6231782    00UdI  2024-01-14        1981
6231783    01YiB  2024-01-14        1998

[6231784 rows x 3 columns]